<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home | Take my gloss</title>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>
    <body>
    <div class="home">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="profil">
          <a href="{{ path('profile')}}">Profile</a>
        </div>
        <div class="logout">
          <a href="{{ path('app_logout')}}">Log Out</a>
        </div>
      {% else %}
        <div class="login">
          <a href="{{ path('app_login') }}">Login</a>
        </div>
        <div class="reg">
          <a href="{{ path('app_register') }}">Register</a>
        </div>
      {% endif %}
      <div class="banner">
        <div class="title">
          <h1>Take my gloss</h1>
        </div>
        <div class="nav">
          <div class="new">
              <a href="{{ path('news') }}">News</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
          <div class="body_care">
              <a href="{{ path('body') }}">Body Care</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
          <div class="mouth">
              <a href="{{ path('mouth') }}">Gloss & Lipstick</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
          <div class="skin">
              <a href="{{ path('skin') }}">Powder & Crema</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
          <div class="eyes">
              <a href="{{ path('eyes') }}">Mascara & Eyeliner</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
          <div class="nails">
              <a href="{{ path('nails') }}">Nails</a>
              <div class="block">
                <ul>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                  <li> • Lorem Impulus</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
